FIX=no
IbLoginId=${TWS_USERID}
IbPassword=${TWS_PASSWORD}
FIXLoginId=
FIXPassword=
SecondFactorDevice=
ReloginAfterSecondFactorAuthenticationTimeout=${RELOGIN_AFTER_TWOFA_TIMEOUT}
SecondFactorAuthenticationExitInterval=${TWOFA_EXIT_INTERVAL}
SecondFactorAuthenticationTimeout=180
ExitAfterSecondFactorAuthenticationTimeout=no
TradingMode=${TRADING_MODE}
AcceptNonBrokerageAccountWarning=yes
LoginDialogDisplayTimeout=60
StoreSettingsOnServer=
MinimizeMainWindow=no
ExistingSessionDetectedAction=primary
OverrideTwsApiPort=
OverrideTwsMasterClientID=
ReadOnlyLogin=no
ReadOnlyApi=${READ_ONLY_API}
BypassOrderPrecautions=${BYPASS_WARNING}
BypassBondWarning=${BYPASS_WARNING}
BypassNegativeYieldToWorstConfirmation=${BYPASS_WARNING}
BypassCalledBondWarning=${BYPASS_WARNING}
BypassSameActionPairTradeWarning=${BYPASS_WARNING}
BypassPriceBasedVolatilityRiskWarning=${BYPASS_WARNING}
BypassUSStocksMarketDataInSharesWarning=${BYPASS_WARNING}
BypassRedirectOrderWarning=${BYPASS_WARNING}
BypassNoOverfillProtectionPrecaution=${BYPASS_WARNING}
AcceptBidAskLastSizeDisplayUpdateNotification=accept
SendMarketDataInLotsForUSstocks=
TrustedTwsApiClientIPs=
ResetOrderIdsAtStart=
ConfirmOrderIdReset=
AutoLogoffTime=${AUTO_LOGOFF_TIME}
AutoRestartTime=${AUTO_RESTART_TIME}
ClosedownAt=
AcceptIncomingConnectionAction=reject
AllowBlindTrading=no
SaveTwsSettingsAt=${SAVE_TWS_SETTINGS}
ConfirmCryptoCurrencyOrders=transmit
DismissPasswordExpiryWarning=no
DismissNSEComplianceNotice=yes
CommandServerPort=0
ControlFrom=
BindAddress=
CommandPrompt=
SuppressInfoMessages=yes
LogStructureScope=known
LogStructureWhen=never